@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
body{
    background-image: linear-gradient(#636162,);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: montserrat, sans-serif;


}
.main{
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%-50%);
    left: 50%;
    top: 50%;
}
.left{
    background-color: #fbb03b;
    width: 200px;
    height: 100%;
    float: left;
}
.right{
    width: 450px;
    float: left;
}
.profile-img{
    /* height: 180px;
    width: 180px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px; solid #fbb03b
    box-shadow: 6px 7px 9px 5px #fbb03b; */

}
.profile-img{


    width: 199px;
    height: 180px;
    border-bottom-left-radius: 93px;
    border-bottom-right-radius: 91px;
    border-top-left-radius: 97px;
    border-top-right-radius: 90px;
}
.box-1{
    position: relative;
}
.heading{
    background-color: #4d4d4d;
    padding: 10px;
    color: #fbb03b;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}